<a href="https://colab.research.google.com/github/Guneeshkatyal/Python-assignment/blob/main/Pythonassignment_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1. 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.
from functools import reduce

def sum_of_even_numbers(n):
    return reduce(lambda acc, num: acc + num if num % 2 == 0 else acc, numbers, 0)
sum_of_even_numbers([47, 11, 42, 13, 8, 20])

70

In [5]:
# 2. Create a Python function that accepts a string and returns the reverse of that string.
def strrev(n):
  return n[::-1]
strrev("hello pythonn")

'nnohtyp olleh'

In [6]:
# 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.
def square_numbers(numbers):
    return list(map(lambda x: x ** 2, numbers))
square_numbers([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [7]:
# 4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))
prime_numbers = list(filter(is_prime, range(1, 201)))
for prime in prime_numbers:
    print(f"{prime} is a prime number.")

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.
23 is a prime number.
29 is a prime number.
31 is a prime number.
37 is a prime number.
41 is a prime number.
43 is a prime number.
47 is a prime number.
53 is a prime number.
59 is a prime number.
61 is a prime number.
67 is a prime number.
71 is a prime number.
73 is a prime number.
79 is a prime number.
83 is a prime number.
89 is a prime number.
97 is a prime number.
101 is a prime number.
103 is a prime number.
107 is a prime number.
109 is a prime number.
113 is a prime number.
127 is a prime number.
131 is a prime number.
137 is a prime number.
139 is a prime number.
149 is a prime number.
151 is a prime number.
157 is a prime number.
163 is a prime number.
167 is a prime number.
173 is a prime number.
179 is a prime number.
181 is a prime number.
191 is a prime number.
193 is a prime number.
197 is a prime number.
199 is a prime number.

In [8]:
# 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.
class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1

    def __iter__(self):
        for _ in range(self.max_terms):
            yield self.a
            self.a, self.b = self.b, self.a + self.b
for num in Fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

In [9]:
# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent

In [11]:
a=powers_of_two(4)

In [12]:
next(a)

1

In [13]:
next(a)

2

In [15]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [19]:
read_file_line_by_line('Hello')

In [20]:
# 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
data = [(4, 20), (1, 15), (3, 5), (2, 10)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(3, 5), (2, 10), (1, 15), (4, 20)]

In [21]:
# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
celsius_temps = [0, 20, 37, 100, -10, 15]
fahrenheit_temps = list(map(lambda c: (c * 9/5) + 32, celsius_temps))
print("Celsius Temperatures:", celsius_temps)
print("Fahrenheit Temperatures:", fahrenheit_temps)

Celsius Temperatures: [0, 20, 37, 100, -10, 15]
Fahrenheit Temperatures: [32.0, 68.0, 98.6, 212.0, 14.0, 59.0]

In [22]:
# 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.
def is_consonant(char):
    return char.lower() not in 'aeiou'
input_string = "Hello, World! This is Python."
result = ''.join(filter(is_consonant, input_string))
print("Original String:", input_string)
print("String without Vowels:", result)

Original String: Hello, World! This is Python.
String without Vowels: Hll, Wrld! Ths s Pythn.

In [23]:
# 11. Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €
# List of orders: [Order Number, Book Title, Quantity, Price per Item]
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Applying lambda and map
# If total < 100, add 10 €
result = list(map(lambda order: (
    order[0],  # Order Number
    order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)  # Adjusted Total
), orders))

# Display the final list of tuples
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]